# Ignore the directories:
.idea/
data/
papers/
__pycache__/
.ipynb_checkpoints/
chatgpt.docx

# Include the directories:
!caviar/
!tests/
!var_tests/
!backtesting/
!dashboard
!papers/review of backtest for var.pdf
!papers/CAViaR.pdf
!papers/Bayesian Time-Varying Quantile Forecasting for Value-at-Risk in Financial Markets.pdf
!papers/Forecasting Value-at-Risk using nonlinear regression quantiles and the intra-day range.pdf
!papers/Journal of Forecasting - 2013 - Gerlach - Exponentially Smoothing the Skewed Laplace Distribution for Value‐at‐Risk.pdf