# Ignore the directories:
.idea/
data/
__pycache__/
papers/
.ipynb_checkpoints/
chatgpt.docx

# Include the directories:
!caviar/
!tests/
!dashboard
!author_code
SDSC6013.pptx
papers/CAViaR.pdf
papers/Bayesian Time-Varying Quantile Forecasting for Value-at-Risk in Financial Markets.pdf
papers/Forecasting Value-at-Risk using nonlinear regression quantiles and the intra-day range.pdf
papers/Journal of Forecasting - 2013 - Gerlach - Exponentially Smoothing the Skewed Laplace Distribution for Value‐at‐Risk.pdf